$main_font: 'Josefin Sans',
sans-serif;
$main_color: #3FA9F5;
$main_padding: 1em;
$taps_color: #FFAF06;
$yellow: #FFDB08;
$text_font_size: 16px;
$medium_font_weight: 300;
$big_font_size: 100px;
$alert_color: #FF1D25;

* {
    // box-sizing: border-box;
    margin: 0;
}
body{
    padding-left: 2em;
    padding-right: 2em;
}
h1 {
    font-family: $main_font;
    color: $main_color;
    text-align: center;
    padding: 2em;
}

// main{
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-gap: 1em;
//     background-color: pink;

// }
// .container{
// grid-column: span 1;
// background-color: #FFAF06;
// height: 100px;
// }

/*top part*/
#top_part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
   
}
#basic_statistic_wrap, #bartenders_wrap{
    grid-column: span 1;
    margin-bottom: 3em;

}
/*basic statistic*/

.header {
    font-family: $main_font;
    font-size: $text_font_size;
    color: white;
    background-color: $main_color;
    padding: $main_padding;
    font-weight: $medium_font_weight;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 3em;
    text-transform: uppercase;
}

.info_wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 1em;
}

.basic_info {
    font-family: $main_font;
    color: $main_color;
    font-size: $text_font_size;
    font-weight: $medium_font_weight;
    text-align: center;
    margin-bottom: 1em;
}

.waiting,
.servedNow,
.servedToday {
    font-size: $big_font_size;
    font-family: $main_font;
    color: $main_color;
    text-align: center;
}



/*Bartenders*/

.bartenders{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.bartenders_info_wrap{
    display: grid;
}

.bartender_status{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: auto;
    
}
.bartender_name{
    font-family: $main_font;
    color: $main_color;
    font-size: 30px;
    font-weight: $medium_font_weight;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
   
}
.bartender_activity{
    font-family: $main_font;
    color: $main_color;
    font-size: $text_font_size;
    font-weight: $medium_font_weight;
    text-align: center;
    margin-top: 1em;
    
}


/*Taps*/


//The level of the taps
.beer_taps{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    padding-top: 3em;
    padding-bottom: 2em;
}
.taps-wrap{
    display: grid;
    //height: 400px;
}

.capacity {
    grid-column: span 1;
    height: 250px;
    width: 110px;
    background-color: white; 
    border: 2px solid $yellow;
    transition: all 1s ease-in;
    margin: auto;
}

.level {
    height: 250px;
    width: 110px;
    background-color: $yellow;
    font-family: $main_font;
    color: white;
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: flex-end;
    
}
.beer_tap_name{
    @extend .bartender_activity;
    text-transform: uppercase;
    height: 50px;
}

.storage{
    @extend .bartender_activity;
    font-size: $text_font_size;
    color: $alert_color;
    font-weight: 400;
    margin-top: 0;
}

/* BEER TYPES */
.beer_types{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);

}
#one_beer_type{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}



//Button
.read_more{
    height: 50px;
    width: 100px;
    background-color: $main_color;
    font-family: $main_font;
    font-size: $text_font_size;
    color: white;
    font-weight: 100;
    // &:hover {
    //     cursor: pointer;
    //     //box-shadow: 6px 6px 1px rgba(0, 0, 0, 0.05);
    //     font-size: 18px;
    //     height: 55px;
    //     width: 110px;
    // }

}
.beer_name,.beer_category, .beer_alc{
    font-family: $main_font;
    font-size: $text_font_size;
    color: $main_color;
    font-weight: 300;
    line-height:  28px;
}
.beer_name{
    text-transform: uppercase;
    font-size: 30px;
}
#one_beer_type{
    margin: 2em;
}

//Image 
.beer_image {
    height: 10%;
    width: 10%;
}

// modal window
.modal {
    display: block;
}

.hide {
    display: none;
}

// .taps-wrap{
//     display: inline-block;
//     height: 300px;
//     border: 1px solid black;
//     width: 800px;
//     background-color: pink;
//     display: inline-block;
// }